@model MyNokatMVC3.ViewModels.JokesFeedViewModel
@{
    ViewBag.Title = "MyNokat Home Page";
}

<div class="main">
    @Html.Hidden("UserId", @Model.UserId)
    @Html.Hidden("UserName", @Model.UserName)
    <div class="msg_post">
                 <table>
                 <tr>
                 <td rowspan="2" valign="top"><img alt="" src='https://graph.facebook.com/@Model.UserId/picture'  /></td>
                 <td colspan="2">@Html.ActionLink(@Model.UserName, null, "User", new { id = @Model.UserId }, null)</td>
                 </tr>
                 <tr><td valign="top">  
                 <textarea id="message_wall" class="msg_txt" rows="3" cols="20"></textarea>                
                 </td>
                 <td><input type="button" id="submit_wall" value="Post" class="btn" /></td></tr>
                 </table>  

    </div>
@Html.Partial("PostsMain",Model)
</div>

<script>

    $(document).ready(function () {
        $("#submit_wall").click(function () {
            var message_wall = $('#message_wall').attr('value');
            if (message_wall.length > 200) {
                alert("Joke Cannot be longer than 200 Characters");
            }
            else {
                var userId = $('#UserId').attr('value');
                var userName = $('#UserName').attr('value');

                $.ajax(
            {
                type: "POST",
                url: "/User/PostJoke",
                data: { 'pUserId': userId, 'pJoke': message_wall },
                success: function (result) {
                    if (result.toString != "0") {
                        
                        var newElement = '<li id="' + result.toString + '"><div class="VoteType" style="display: none"></div>\<table class="tblFiveCols"><tr><td rowspan="3" valign="top"><img alt="" src=\'https://graph.facebook.com/' + userId + '/picture\' /></td>'
                        newElement += '<td align="left" colspan="4">@Html.ActionLink(@Model.UserName, null, "User", new { id = @Model.UserId  }, null) </td>'
                        newElement += '</tr><tr><td colspan="4">' + message_wall + '</td></tr><tr><td><span class="UpCount">0</span><input type="button" class="btnup"  onclick=\'SaveUserVote("' + userId + '","' + result.toString + '","true");\' />'
                        newElement += '<span>.</span></td><td><span class="DownCount">0</span><input type="button" class="btnDown" onclick=\'SaveUserVote("' + userId + '","' + result.toString + '","false");\' /><span>.</span></td><td><input type="button" id="Share_Joke" value="Share" onclick=\'postToFeed("' + result.toString + '");\' class="btn" /></td>'
                        newElement += '<td><span>At:</span>Now<span>.</span></td></tr></table></li>';

                        $(newElement).insertBefore($(".holder li:first-child"));
                        $('#message_wall').attr('value', '');

                    }
                },
                error: function (req, status, error) {
                    alert("Sorry! Vote Cannot be saved now..");
                }
            });
            }
        });

    });

</script>
