@model MyNokatMVC3.Models.Entities.Jokes


    <tr id='@Model.JokeId'>
        <td>@Model.Joke</td>
        <td>@Model.AddDate</td>
        <td><img alt="" src='https://graph.facebook.com/@Model.UserId/picture' /></td>
        <td>@Html.ActionLink(@Model.UserName,null,"User", new {  id = @Model.UserId},null)</td>
        <td><input type="submit" id="thiId" name="thiId"  />
            <input type="button" id='Down'+@Model.JokeId value="Down"  onclick="SaveUserVote('@Model.UserId','@Model.JokeId','0');" /></td>
    </tr>


